doctype html
html
  head
    title Yatzy - Spillet er startet
  body
    h1 Spillet er allerede i gang
    p Du kan ikke længere tilmelde dig.

    h2 Aktive spillere:
    ul
      each player in players
        li= player